In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
path=r"C:\Users\Mohammed Abubakar\OneDrive\file handing\train.csv"
train_df=pd.read_csv(path)
train_df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [24]:
type(df.dtypes)

NameError: name 'df' is not defined

In [20]:
dict(df.dtypes)

NameError: name 'df' is not defined

In [14]:
list(df.dtypes)

NameError: name 'df' is not defined

In [27]:
list(df)

NameError: name 'df' is not defined

In [26]:
df.select_dtypes(include='object').columns

NameError: name 'df' is not defined

In [25]:
df.isnull()

NameError: name 'df' is not defined

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum()

In [ ]:
df.drop_duplicates()

In [ ]:
df.info()

In [ ]:
df.take([5,7,9])

In [ ]:
df.take([100,200,300]).take([6,8,11],axis=1)

In [ ]:
df.iloc[5:10]

In [ ]:
df.iloc[5:10,2:6]

In [ ]:
df.iloc[:,2:5]

In [ ]:
df.iloc[[1,2,3],[9,10,12]]

In [ ]:
df.iloc[[100,200,300],[12]]

In [ ]:
df.loc[[100,200,300],['Loan_Status']]

In [ ]:
df.take((2,5,7))